.carousel__slide-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
}

.carousel__slide {
    flex: 1;
    display: flex;
    border: 1px solid red;
    flex-direction: column;
    border: 0.5rem solid transparent;
}

.carousel__slide-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.carousel__slide > img {
    display: block;
    height: 20rem;
    width: auto;
}

.carousel__btn {
    width: 10rem;
}

@media only screen and (max-width: 768px) {
    .carousel__slide:not(.carousel__slide-selected) {
        display: none;
    }
}